html{
    scroll-behavior: smooth;
}
.landing{
    background-image: url('../images/h_img.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    padding-top: 15%;
    height: 80vh;
    width: 80%;
}
.about{
    text-align: center;
    padding-bottom: 30px;
    padding-top:40px; 
    font-family: 'copse' serif;
}
.services{
    text-align: center;
    background-image: url("../images/s_image.jpg");
    color: white;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Copse', serif;
    font-size: 18px;
}