html{
    scroll-behavior: smooth;
}
.landing{
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    padding-top: 15%;
    height: 80vh;
    width: 80%;
}